/* Design tokens */
:root {
  --paper: hsla(251, 28%, 88%, 0.99);
  --ink: hsla(244, 16%, 17%, 0.95);
  --brand: hsla(0, 79%, 63%, 0.9);
  --font: "Raleway", system-ui, sans-serif;
  --gap: 20px;
  --container: clamp(280px, calc(100vw - calc(var(--gap) * 2)), 1180px);
}
/* General Styles */
html,
body {
  scroll-behavior: smooth;
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font);
}
body {
  display: grid;
  margin: auto;
  min-height: 100vh;
  gap: var(--gap);
  max-width: var(--container);
}

/* grid */
main {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 30vw 50vw;
  gap: 70px;
  justify-content: center;
  align-items: start;
}
/*sections */
#about {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#about img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 30px;
}

#projects header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}
#projects img {
  grid-row: 2 / span1;
  max-width: 100%;
  display: flex;
}

#contact {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

/* Add background color to sections */
#about,
#projects,
#contact {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Add some spacing between sections */
}

a,
a:any-link {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color ease-in-out 0.3s;
}
a:hover,
a:focus {
  color: var(--brand);
  border-color: currentColor;
}
/* Site header and navigation */
body > header {
  background: var(--paper);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

/* Text readability */
section p {
  line-height: 1.5;
  max-width: 55ch;
  text-align: left;
  padding: 10px;
}
