:root {
  --paper: hsla(251, 28%, 88%, 0.99);
  --ink: hsla(244, 16%, 17%, 0.95);
  --brand: hsla(0, 79%, 63%, 0.9);
  --font: "Raleway", system-ui, sans-serif;
  --gap: 20px;
  --container: clamp(280px, calc(100vw - calc(var(--gap) * 2)), 1180px);
  /* https://web.dev/accessible-tap-targets/ */
  --tap-target: 48px;
  --box: clamp(280px, 50vw + 2px, 530px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink: hsla(252, 38%, 92%, 0.99);
    --paper: hsla(244, 16%, 17%, 1);
  }
}

html,
body {
  scroll-behavior: smooth;
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font);
}
body {
  display: grid;
  margin: 20px;
  min-height: 100vh;
  gap: var(--gap);
}
a,
a:any-link {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color ease-in-out 0.3s;
}
a:hover,
a:focus {
  color: var(--brand);
  border-color: currentColor;
}
p a:any-link {
  border-color: var(--brand);
}

header {
  background: var(--paper);
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  gap: var(--gap);
}

section p {
  line-height: 1.5;
  max-width: 55ch;
}

h3[class] {
  margin: 0 auto 0 0;
}
ul[class],
li[class] {
  margin: 0;
  padding: 0;
}

svg {
  height: 100%;
  width: auto;
  min-width: var(--tap-target);
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.my-image {
  width: 600px;
  margin: 0 50px;
  border: 2px skyblue none;
  border-radius: 50%;
}

.about-me {
  display: flex;
  justify-content: start;
  background-color: #edf6fa;
  margin-bottom: 6rem;
}

.aboutme-text {
  text-align: center;
  font-size: larger;
  color: #0b0a0a;
  margin-left: 130px;
  margin-top: 4rem;
}

.project-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 5rem;
  gap: 0.5rem;
}

.project-img {
  display: block;
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

.card {
  box-shadow: 0px 8px 16px 0 rgba(9, 9, 9, 0.2);
  transition: 0.3s;
  width: 100%;
  text-align: center;
  padding: 5px 8px;
  height: 33em;
}

.card:hover {
  box-shadow: 0px 16px 32px 0 blueviolet;
}

#contact {
  margin-top: 5rem;
}

.contact-text {
  font-size: large;
}

picture {
  height: auto;
  overflow: hidden;
}

