/* General site layout 

You might want to start adding classes and breaking the pieces of this layout into components
You have header, footer, main, and menu/nav */
html {
  background: var(--paper);
  color: var(--ink);
}
html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-body);
}
body {
  display: grid;
  margin: auto;
  min-height: 100vh;
  gap: var(--gap);
  max-width: var(--container);
}

/* Site header and navigation 
https://elad.medium.com/css-position-sticky-how-it-really-works-54cd01dc2d46
*/
body > header {
  font-family: var(--font-display);
  backdrop-filter: blur(var(--spacing-2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

#personal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: center;
  max-height: min-content;
}

#about-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* Contact */

#contacts-info {
  display: grid;
  grid-template-columns: 25vw 25vw;
  justify-items: flex-start;
}

#contacts-info a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;

  border: none;
}

#contacts-info svg {
  width: 2rem;
  height: auto;
}

.contact-mini-fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;

  display: flex;
  flex-direction: column;

  opacity: 1;

  transition: right 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.contact-mini-hidden {
  position: fixed;
  bottom: 1rem;
  right: -150%;
  z-index: 1;

  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: right 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

#contact-mini svg {
  width: 1.5rem;
}

#contact-mini a {
  border: none;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
    width: 100%;
  }

  body > header {
    width: 98%;
    margin: 0 auto;
  }

  main {
    padding: 0 0.5rem;
  }

  h1 {
    display: block;
    width: 40%;
    margin: 0.5rem 0;
  }

  nav {
    justify-content: space-evenly;
    width: 60%;
  }

  nav ul {
    padding: 0;
    gap: initial;
    justify-content: space-around;
  }

  nav ul li:last-child {
    display: none;
  }

  section {
    scroll-margin-top: 4rem;
  }

  #contact {
    visibility: hidden;
  }

  #contact header {
    display: none;
  }

  #contacts-info {
    display: none;
  }

  footer {
    height: 4rem;
  }

  .contact-mini-fixed {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    background: var(--paper);
    padding: 0.5rem 0;
    margin: 0;

    flex-direction: row;
    gap: var(--gap);
    justify-content: space-evenly;
    align-items: center;
  }
}
