* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(34, 31%, 63%);
}

/*----------------------HEADER-------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-icon {
  display: none;
}

.circles {
  width: 150px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  list-style: none;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 27px;
  font-family: "Questrial";
}

.nav-list li {
  color: rgb(250, 248, 243);
  font-size: 27px;
  font-weight: 700;
}

.nav-list li:hover {
  text-shadow: 3px 3px 5px black;
  font-size: 30px;
}

.nav-list li:active {
  text-shadow: 5px 5px 5px green;
}

.nav-list a {
  color: wheat;
  text-decoration: none;
}

/*---------------------- MAIN  -------------------------*/

.section-1 {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.profile-pic-and-text {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-box {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-box h1 {
  font-size: 60px;
  padding-bottom: 20px;
  text-wrap: wrap;
}
.title-box h3 {
  font-size: 30px;
  padding-top: 20px;
}

.title-box p {
  font-size: 23px;
  text-align: left;
  width: 80%;
  line-height: 30px;
  padding-top: 50px;
}

.profile-pic-box img {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 80%;
  width: 400;
  height: 500;
}

.profile-pic-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.connect-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 50px;
  margin-top: 60px;
  padding: 50px;
  border: 1px inset hsl(67, 12%, 15%);
  width: 450px;
}

.connect-icons img {
  width: 50px;
  border-radius: 24px;
}

.chat-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chat-box img {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-box img:hover {
  width: 115px;
}

.chat-box p {
  position: fixed;
  bottom: 112px;
  right: 20px;
  font-size: 20px;
  color: white;
}

.chat-box p:hover {
  font-size: 25px;
}

/*----------------------SECTION 2  -------------------------*/

.section-2 {
  height: 250vh;
  margin: 90px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-2 h2 {
  font-size: 50px;
  text-align: center;
  color: white;
}

.section-2 p {
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-family: "Questrial";
  margin-top: 30px;
  padding: 50px;
  text-wrap: wrap;
  margin: 20px;
  color: white;
}

.values {
  font-size: 35px;
  text-align: center;
  margin: 20px;
  margin-top: 40px;
  color: white;
}

.values-list {
  font-size: 25px;
  font-family: "questrial";
  text-align: center;
  margin-top: 20px;
  color: white;
  list-style: none;
}

.values-list li {
  padding-bottom: 20px;
}

.tech-skills {
  font-size: 35px;
  margin: 90px;
  text-align: center;
  color: white;
}

.pie-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.pie-chart h4 {
  font-size: 30px;
  color: black;
  position: relative;
  bottom: 45px;
}

.html div,
.css div,
.javascript div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;
}

.html div {
  background: conic-gradient(
    rgb(153, 75, 24) 0% 95%,
    rgb(255, 255, 255) 95% 100%
  );
}

.css div {
  background: conic-gradient(
    rgb(153, 119, 24) 0% 85%,
    rgb(255, 255, 255) 85% 100%
  );
}

.javascript div {
  background: conic-gradient(
    rgb(55, 21, 117) 0% 5%,
    rgb(255, 255, 255) 5% 100%
  );
}

/*----------------------SECTION 3  -------------------------*/

.section-3 {
  margin: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 70px;
  height: 350vh;
}

.section-3 h2 {
  font-size: 40px;
  margin-top: 50px;
  padding-top: 60px;

  text-align: center;
}

.section-3 h2 {
  color: beige;
}

.project-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 80px;
  margin-top: 70px;
}

.Project-1,
.Project-2,
.Project-3,
.Project-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(83, 87, 76, 0.2);
  margin: 20px;
  padding-top: 50px;
}

.project-title {
  font-size: 30px;
  margin-top: 20px;
  color: rgb(175, 123, 46);
}

.project-description {
  width: 80%;
  font-size: 20px;
  padding: 20px;
  color: floralwhite;
  line-height: 30px;
}

.project-description b {
  color: rgb(224, 204, 202);
}

.project-box img {
  width: 320px;
  border-radius: 15px;
  box-shadow: 5px 6px 5px black;
}

.project-box img:hover {
  width: 340px;
  box-shadow: 5px 6px 5px rgb(250, 250, 250);
}

/*----------------------SECTION 4  -------------------------*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.booking-form {
  height: 200vh;
  margin: 90px;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.booking-form h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
}

input {
  margin-top: 100px;
  height: 50px;
  width: 500px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 9px;
  padding: 10px;
}

textarea {
  border: 2px solid black;
  padding-left: 10px;
  border-radius: 9px;
}

label {
  font-size: 25px;
  padding-right: 10px;
}

.submit {
  width: 200px;
  height: 70px;

  font-size: 25px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: hsl(33, 7%, 69%);
}

/*----------------------FOOTER-------------------------*/

footer {
  height: 30vh;
  margin-top: 100px;
}

footer h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-icons img {
  width: 70px;
  border-radius: 50%;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

/*--------------------  SMALL SCREENS ----------------------- */

@media only screen and (max-width: 900px) {
  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: hsl(36, 74%, 41%);
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 5px;
    background-color: hsl(36, 74%, 41%);
  }

  .nav-list {
    padding-right: 0px;
  }

  .nav-list li {
    font-size: 15px;
    padding-right: 0px;
    margin: 0;
  }

  .nav-list li {
    font-size: 12px;
    padding-right: 0px;
    margin: 0;
  }

  .nav-list li:hover {
    text-shadow: 3px 3px 5px black;
    font-size: 15px;
  }

  .nav-list li:active {
    text-shadow: 5px 5px 5px green;
  }

  .circles {
    display: none;
  }

  /*--------------------  SECTION 1------------------------*/

  .profile-pic-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .profile-pic-box img {
    width: 100%;
    background-color: hsl(36, 74%, 41%);
    opacity: 80%;
  }

  .profile-pic-and-text {
    display: block;
    height: 100vh;
  }

  .section-1 {
    height: 180vh;
    background-color: rgb(80, 85, 7, 0.9);
    width: 100%;
    overflow: hidden;
  }

  .section-1 h1 {
    display: block;
    font-size: 50px;
    text-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }

  .section-1 h2 {
    display: block;
    font-size: 27px;
    text-align: center;
    padding: 20px;
  }

  .title-box {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .connect-icons img {
    border-radius: 24px;
    width: 30px;
  }

  .connect-icons {
    width: 100%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px inset hsl(67, 12%, 15%);
  }

  .chat-box {
    display: none;
  }

  /*--------------------  SECTION 2------------------------*/
  .section-2 {
    width: 100%;
    height: 350vh;
    margin: 0px;

    padding: 0px;
    background-color: rgb(80, 85, 7, 0.3);
  }

  .section-2 h2 {
    padding-top: 20px;
  }

  .section-2 p {
    width: 100%;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    margin: 0px;
    margin-top: 40px;
    padding: 12px;
    text-wrap: wrap;
  }

  /*--------------------VALUES------------------------*/
  .values {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }

  .values-list {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  /*-------------------- TECHNICAL SKILLS------------------------*/

  .pie-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }

  /*--------------------SECTION 3------------------------*/

  .section-3 {
    height: 450vh;
    padding: 0px;
    margin: 0px;
    background-color: rgb(80, 85, 7, 0.9);
  }

  .section-3 h2 {
    color: beige;
  }

  .project-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 90px;
    margin-top: 100px;
  }

  .Project-1,
  .Project-2,
  .Project-3,
  .Project-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(83, 87, 76, 0.2);
  }

  .project-title {
    font-size: 30px;
    margin-top: 25px;
    color: rgb(175, 123, 46);
  }

  .project-description {
    font-size: 20px;
    padding: 20px;
    color: floralwhite;
    line-height: 30px;
  }

  .project-description b {
    color: mistyrose;
  }
  .project-box img {
    width: 300px;
  }

  .project-box img:hover {
    width: 315px;
    border-radius: 10px;
    box-shadow: 5px 6px 5px white;
  }

  /*--------------------SECTION 4------------------------*/

  .booking-form {
    padding: 0px;
    padding-top: 30px;
    margin: 0px;
    margin-top: 50px;
    row-gap: 0px;
    height: 170vh;
    background-color: rgb(80, 85, 7, 0.9);
  }

  form {
    margin: 25px;
    display: block;
  }

  form h2 {
    margin-bottom: 80px;
  }

  input {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 35px;
  }

  #date {
    color: black;
    font-size: 18px;
    width: 200px;
    padding: 5px;
  }

  .submit {
    color: black;
  }

  .footer-icons img {
    width: 50px;
  }
}
