/* Design tokens */
:root {
  --paper: #eff6e0;
  --ink: #01161e;
  --brand: #1006d77;
  --header:#aec3b0;
  --font: "Itim", system-ui, sans-serif;
  --gap: 20px;
  --container: clamp(280px, calc(100vw - calc(var(--gap) * 2)), 1180px);
}
/* General Styles */
html,
body {
  scroll-behavior: smooth;
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font);
}

body {
  display: grid;
  text-align: justify;
  margin: auto;
  min-height: 200vh;
  gap: var(--gap);
  max-width: var(--container);
}

main{
  padding: 2rem; 
}

a,
a:any-link {
  color: var(--brand);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color ease-in-out 0.3s;
}

button:hover,
a:hover,
a:focus {
  color: #e36414;
  border-color: currentColor;
  cursor: pointer;
}
/* Site header and navigation */
body > header {
  background: var(--header);
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 2rem;
  z-index: 1;
  border-radius: 4%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
  font-weight: bold;
}

/* subheader style*/
header {
  background: var(--header);
  padding: 1.5rem;
  border-radius: 4%;
  
}

/* Text readability */
section p {
  line-height: 1.5;
}

/* button style*/
button{
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 15%;
  background-color: var(--header);
}