@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* General Styles */

:root {
  --background: #264653;
  --font: "Ubuntu";
  --brand: #d4dadd;
  --page-width: 1200px;
  --hover-text: #2a9d8f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 1.2rem;
  padding-bottom: 2.4rem;
  margin: 0 auto;
  color: var(--brand);
  width: var(--page-width);
  font-family: var(--font);
  background-color: var(--background);
}

/* This margin class is for the margin on top of each of the projects logos and description  */

.margin {
  margin-top: 0.6rem;
}

/* Navigation styles */

.nav-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

.marcus-zagorski {
  justify-self: end;
  font-size: 1.6rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  font-size: 22px;
}

a {
  text-decoration: none;
  transition: color ease-in-out 0.3s;
  color: var(--brand);
}

a:hover,
a:active {
  color: var(--hover-text);
}

/* Main - Introduction styles */

main {
  display: grid;
  margin-top: 4rem;
}

.intro-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro-logo {
  width: 138px;
  height: 138px;
  border-radius: 100%;
  background-image: url(/imgs/picture-of-me.jpg);
  background-size: contain;
  border: 2px solid var(--brand);
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

h1 {
  letter-spacing: 1.2px;
}

/* About me styles */

.aboutme-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 2rem;
  border-top: 4px solid var(--hover-text);
  border-bottom: 4px solid var(--hover-text);
  align-items: center;
  justify-items: center;
  padding: 0.8rem 0;
}

.aboutme-ending {
  margin-top: 1.4rem;
}

.section-titles {
  font-size: 6em;
}

.aboutme-textbox {
  text-align: center;
  line-height: 1.8;
}

/* Projects styles */

.karma-logo {
  transition: fill ease-in-out 0.3s;
}

.karma-logo:hover,
.karma-logo:active {
  fill: #f15b2a;
}

.section-titles-- {
  font-size: 6em;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% repeat(4, 1fr);
  margin-top: 3.2rem;
  height: 24vh;
  border-top: 4px solid var(--hover-text);
  border-bottom: 4px solid var(--hover-text);
  align-items: center;
  justify-items: center;
}

/* Contact styles */

.contacts-grid {
  display: grid;
  grid-template-columns: 50% repeat(4, 1fr);
  margin-top: 3.2rem;
  height: 24vh;
  border-top: 4px solid var(--hover-text);
  border-bottom: 4px solid var(--hover-text);
  align-items: center;
  justify-items: center;
}

.icons {
  width: 48px;
  height: 48px;
  fill: var(--brand);
  transition: fill ease-in-out 0.3s;
}

.icons:hover,
.icons:active {
  fill: var(--hover-text);
}
